.record-list-box-wrap
  position:relative
.record-car
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f5f5f5;
.record-img
    height:345px
    // font-size:0px
    // padding-bottom:67.9%
    background:url('http://wechat.chepass.com:8021/Content/dist/static/img/record01.6bfdc7c.jpg') no-repeat
    background-size:100%
    position:relative
    overflow:hidden
    margin-bottom: 30px