.slider-wrapper
        touch-action: none;
        position: relative
        width: 100%
        height: 200PX
        .slider-item
          width: 100%
.card-box
    padding:20px 0
    margin-top:10px
    display:flex
    background:#fff
    // flex-wrap: wrap
    text-align: center
    .card-item
        float:left
        width:25%
        flex:0 0 25%
        .img
            width:40PX
            height:40PX
        .p
            font-size:24px
            color:#333
            margin-top:7px
            &.second-line
                margin-top:10px
.actionSlide
        display: flex;
        width:990px
        word-break: keep-all;
        white-space: nowrap;
        .p
          width:640px
          margin-right:16px
          box-sizing: content-box;
          &.no-padding
            margin-right:0px
        .img
          width:100%
          height: 300px
.h2
      height:76px
      padding-left:30px
      line-height:76px
      font-size:36px
.lineSplit
    height:20px;
    width: 100%;
    background: #f5f5f5