@import "../../common/styl/variable"

  .loading
    width: 100%
    display: flex
    flex-direction: column
    justify-content:center
    height: 60px
    &.oneLine
      display: flex
      justify-content: center
    .desc
      line-height: 20px
      font-size: 14px
      color: #333